---
import { CodeEditor } from '@/components/CodeEditor';
import { CodePreview } from '@/components/CodePreview';
import { ShortIntro } from '@/components/ShortIntro';
import clsx from 'clsx';

const { className } = Astro.props;
---

<div class={clsx('text-white', className)}>
  <ShortIntro />
  <CodeEditor />
  <CodePreview />
</div>
