---
import { Header } from '@/components/Header';
import { Hero } from '@/components/Hero';
import '@/pages/base.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ezprojekt</title>
  </head>
  <body class="bg-stone-950 font-body font-normal">
    <Header className="mx-24 mt-10" />
    <Hero className="mx-24 mt-48" />
  </body>
</html>
